@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-color-primary-50: 239 246 255;
  --tw-color-primary-100: 219 234 254;
  --tw-color-primary-200: 191 219 254;
  --tw-color-primary-300: 147 197 253;
  --tw-color-primary-400: 96 165 250;
  --tw-color-primary-500: 59 130 246;
  --tw-color-primary-600: 37 99 235;
  --tw-color-primary-700: 29 78 216;
  --tw-color-primary-800: 30 64 175;
  --tw-color-primary-900: 30 58 138;
  --tw-color-primary-950: 23 37 84;
  --tw-color-light: 239 238 224;
  --tw-color-dark: 29 33 35;
  --tw-color-secondary: 250 205 102;
  --tw-color-dark-alt: 26 30 31;
  --tw-color-alt: 164 199 198;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #eff6ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #dbeafe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bfdbfe */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #93c5fd */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #60a5fa */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #3b82f6 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #2563eb */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #1d4ed8 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #1e40af */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #1e3a8a */
  --color-primary-950: rgb(var(--tw-color-primary-950)); /* #172554 */
  --tw-color-secondary-50: 254 252 232;
  --tw-color-secondary-100: 254 249 195;
  --tw-color-secondary-200: 254 240 138;
  --tw-color-secondary-300: 253 224 71;
  --tw-color-secondary-400: 250 204 21;
  --tw-color-secondary-500: 234 179 8;
  --tw-color-secondary-600: 202 138 4;
  --tw-color-secondary-700: 161 98 7;
  --tw-color-secondary-800: 133 77 14;
  --tw-color-secondary-900: 113 63 18;
  --tw-color-secondary-950: 66 32 6;
  --color-secondary-50: rgb(var(--tw-color-secondary-50)); /* #fefce8 */
  --color-secondary-100: rgb(var(--tw-color-secondary-100)); /* #fef9c3 */
  --color-secondary-200: rgb(var(--tw-color-secondary-200)); /* #fef08a */
  --color-secondary-300: rgb(var(--tw-color-secondary-300)); /* #fde047 */
  --color-secondary-400: rgb(var(--tw-color-secondary-400)); /* #facc15 */
  --color-secondary-500: rgb(var(--tw-color-secondary-500)); /* #eab308 */
  --color-secondary-600: rgb(var(--tw-color-secondary-600)); /* #ca8a04 */
  --color-secondary-700: rgb(var(--tw-color-secondary-700)); /* #a16207 */
  --color-secondary-800: rgb(var(--tw-color-secondary-800)); /* #854d0e */
  --color-secondary-900: rgb(var(--tw-color-secondary-900)); /* #713f12 */
  --color-secondary-950: rgb(var(--tw-color-secondary-950)); /* #422006 */
  --color-light: rgb(var(--tw-color-light));
  --color-dark: rgb(var(--tw-color-dark));
  --color-dark-alt: rgb(var(--tw-color-dark-alt));
  --color-alt: rgb(var(--tw-color-alt));
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
